# Data Science Tools and Ecosystem

In this notebook,we will summarize Data Science Tools and Ecosystem.

**Objectives:**
- Create a markdown cell with the title of the notebook. (1 pt)
- Create a markdown cell for an introduction. (1 pt)
- Create a markdown cell to list data science languages. (3 pts)
- Create a markdown cell to list data science libraries. (3 pts)
- Create a markdown cell with a table of Data Science tools. (3 pts)
- Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Create a code cell to multiply and add numbers.(2 pts)
- Create a code cell to convert minutes to hours. (2 pts)
- Insert a markdown cell to list Objectives. (3 pts)
- Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
- Share your notebook through GitHub (3 pts)
- Take a screenshot of the first page of the notebook. (1 pt)

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. JavaScript
4. Scala
5. Go
6. Java
7. C++
8. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.
6. Scikit-Learn.
7. TensorFlow.
8. Matplotlib.

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|TensorFlow|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

Addition: 1 + 3 = 4
Subtraction: 1.23 - 0.45 = 0.78
Multiplication: 4 * 6 = 24
Division: 6/2 = 3.0
Power: 5**2 = 25

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(str(hours) + " Hours")

3.3333333333333335 Hours

## Author
Vaashkar Paul